<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLUST BY DR MA{% block title%}{% endblock title %}</title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets\css\styles.css' %}">
    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Top Bar -->
    <div class="container-fluid bg-light py-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <span>100% Secure delivery without contacting the courier</span>
                </div>
                <div class="col-md-6 text-right">
                    <span>Need help? Call Us: 1800 900</span>
                    <select class="ml-2">
                        <option>English</option>
                    </select>
                    <select class="ml-2">
                        <option>USD</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

<!-- Header -->
<header class="container-fluid py-3">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-12 mb-2 mb-lg-0">
            <h1 class="m-0 text-center text-lg-left">BLUST BY DR MA</h1>
        </div>
        <div class="col-lg-5 col-md-12 mb-2 mb-lg-0">
            <form class="d-flex">
                <select class="form-control mr-2 w-25">
                    <option>All Categories</option>
                </select>
                <input class="form-control mr-2 flex-grow-1" type="search" placeholder="Search for items..." aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="col-lg-5 col-md-12">
            <div class="d-flex flex-wrap justify-content-center justify-content-lg-end">
                <a href="#" class="d-flex align-items-center mr-3 mb-2 mb-lg-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-repeat mr-1" viewBox="0 0 16 16">
                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
                    </svg>
                    <span>Compare</span>
                </a>
                <a href="#" class="d-flex align-items-center mr-3 mb-2 mb-lg-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-heart-fill mr-1" viewBox="0 0 16 16">
                        <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132z"/>
                    </svg>
                    <span>Wishlist</span>
                </a>
                <a href="#" class="d-flex align-items-center mr-3 mb-2 mb-lg-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart4 mr-1" viewBox="0 0 16 16">
                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                    </svg>
                    <span>Cart</span>
                </a>
                <a href="#" class="d-flex align-items-center mb-2 mb-lg-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person mr-1" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                    <span>Account</span>
                </a>
            </div>
        </div>
    </div>
</header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="browseCategories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bars"></i> Browse All Categories
                </button>
                <div class="dropdown-menu" aria-labelledby="browseCategories">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="homeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu" aria-labelledby="homeDropdown">
                            <a class="dropdown-item" href="#">Home 1</a>
                            <a class="dropdown-item" href="#">Home 2</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="shopDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                        <div class="dropdown-menu" aria-labelledby="shopDropdown">
                            <a class="dropdown-item" href="#">Shop 1</a>
                            <a class="dropdown-item" href="#">Shop 2</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="vendorsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vendors</a>
                        <div class="dropdown-menu" aria-labelledby="vendorsDropdown">
                            <a class="dropdown-item" href="#">Vendor 1</a>
                            <a class="dropdown-item" href="#">Vendor 2</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="megaMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mega Menu</a>
                        <div class="dropdown-menu" aria-labelledby="megaMenuDropdown">
                            <a class="dropdown-item" href="#">Menu 1</a>
                            <a class="dropdown-item" href="#">Menu 2</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="blogDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                        <div class="dropdown-menu" aria-labelledby="blogDropdown">
                            <a class="dropdown-item" href="#">Blog 1</a>
                            <a class="dropdown-item" href="#">Blog 2</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                            <a class="dropdown-item" href="#">Page 1</a>
                            <a class="dropdown-item" href="#">Page 2</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Contact</a></li>
                </ul>
                <div class="ml-auto text-white">
                    <i class="fas fa-headphones-alt text-white"></i> 1900 - 888
                    <span class="ml-2">24/7 Support Center</span>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-3">
        <div class="row">
            <!-- Categories Section -->
            <div class="col-md-2">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Categories</a>
                    <a href="#" class="list-group-item list-group-item-action">Milks & Dairies <span class="badge badge-secondary float-right">5</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Clothing <span class="badge badge-secondary float-right">7</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Pet Foods <span class="badge badge-secondary float-right">9</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Baking Material <span class="badge badge-secondary float-right">14</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Fresh Fruit <span class="badge badge-secondary float-right">13</span></a>
                </div>
            </div>
    
            <!-- Main Content -->
            <div class="col-md-10">
                <!-- Carousel with Email Form -->
                <div class="position-relative">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'assets/images/banner/b1.jpg' %}" alt="First slide" width="1280" height="365">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'assets/images/banner/b1.jpg' %}" alt="Second slide" width="1280" height="365">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'assets/images/banner/b1.jpg' %}" alt="Third slide" width="1280" height="365">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
    
                     <!-- Email Form Overlay -->
                     <div class="position-relative carousel-overlay">
                        <h3>Don't miss this amazing deals</h3>
                        <p>Sign up for the daily newsletter</p>
                        <form>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Your email address" aria-label="Your email address" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% block content%}{% endblock %}
                <!-- Footer -->
    <footer class="bg-dark text-white mt-5 p-4 text-center">
        &copy; 2024 BLUST BY DR MA. All Rights Reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>