{% extends 'partials/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} 
    <title>Sign-Up BLUST BY DR MA</title> 
{% endblock title %}

{% block extra-css %} 
    <link rel="stylesheet" href="{% static 'assets/css/sign-up.css' %}"> 
{% endblock extra-css %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="signup-container">
            <h2 class="text-center">Sign Up</h2>
            <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.password1|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.password2|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <hr>
            <div class="text-center">Or register with</div>
            <div class="d-flex justify-content-center mt-2 social-buttons">
                <a href="#" class="btn btn-danger mr-2">
                    <i class="bi bi-google"></i> Google
                </a>
                <a href="#" class="btn btn-primary mr-2">
                    <i class="bi bi-facebook"></i> Facebook
                </a>
                <a href="#" class="btn btn-dark">
                    <i class="bi bi-apple"></i> Apple
                </a>
            </div>
            <hr>
            <div class="text-center">
                Already have an account? <a href="{% url 'userauths:sign-in' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
